<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="public/styles.css">
		<title></title>
	</head>
	<body>
		<div class="container">
			<div class="row titles--row">
				<h1> To Do List </h1>
			</div>
			<div class="row list--row">
				<form action="/list" method="POST">
				<input type="text" name="task" placeholder="List item goes here"/>
				<button type="submit">submit<value="Add Item"
				</form>

			</div>	
		

		</div>
	</body>
</html>